{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}My Website{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styled.css' %}" />
  </head>
  <body>

    <div class="side-bar">
      <div class="logo-name-wrapper">
        <div class="logo-name">
         <!---- LOGO  <img
            src="#"
            class="logo"
            alt="logo app"
            srcset=""
          /> --->

        </div>
        <button class="logo-name__button">
          <i
            class="bx bx-arrow-from-right logo-name__icon"
            id="logo-name__icon"
          ></i>
        </button>
        <!-- <i class='bx bx-arrow-from-left'></i> -->
      </div>
{% if user.first_name %}
      <div class="message">
        <i class="message-icon bx bx-message-square-edit"></i>
        <span class="message-text">{{ user.first_name }} {{ user.last_name }}</span>
        <span class="tooltip">Don't touch anything!</span>
      </div>
{% endif %}
      <ul class="features-list">
        <li class="features-item inbox active">
          <i class="bx bxs-inbox features-item-icon inbox-icon"
            ><span class="status"></span
          ></i>
          <a href="{% url 'vehicle-list' %}" class="category-item-text">
          <span class="features-item-text">Vehicles</span>
          <span class="inbox-number">99</span> <!-- MAKE HERE NOTIFICATION ABOUT MAINTENANCE--->
          <span class="tooltip">boom</span>
            </a>
        </li>

        <li class="features-item inbox active">
          <i class="bx bxs-inbox features-item-icon inbox-icon"
            ><span class="status"></span
          ></i>
          <a href="{% url 'period-list' %}" class="category-item-text">
          <span class="features-item-text">Vehicles in usage</span>
          <span class="tooltip">boom</span>
            </a>
        </li>

                <li class="features-item inbox active">
          <i class="bx bxs-inbox features-item-icon inbox-icon"
            ><span class="status"></span
          ></i>
          <a href="{% url 'fueling-list' %}" class="category-item-text">
          <span class="features-item-text">Fueling</span>
          <span class="tooltip">boom</span>
            </a>
        </li>

      </ul>

      <ul class="category-list">
        <div class="category-header">Create items</div>
        <li class="category-item">
          <span
            class="category-item-status"
            style="background-color: #79d861"
          ></span>
          <a href="{% url 'driver-create' %}" class="category-item-text">
          <span class="category-item-text">Add driver</span>
          </a>
          <span class="category-item-number"></span>
          <span class="tooltip">Ooops</span>
        </li>

          <li class="category-item">
          <span
            class="category-item-status"
            style="background-color: #79d861"
          ></span>
          <a href="{% url 'vehicle-create' %}" class="category-item-text">
          <span class="category-item-text">Add vehicle</span>
          </a>
          <span class="category-item-number"></span>
          <span class="tooltip">Ooops</span>
        </li>

        <li class="category-item">
          <span
            class="category-item-status"
            style="background-color: #79d861"
          ></span>
          <a href="{% url 'fueling-create' %}" class="category-item-text">
          <span class="category-item-text">Add fueling event</span>
          </a>
          <span class="category-item-number"></span>
          <span class="tooltip">Ooops</span>
        </li>

      </ul>

      <ul class="chat-list">
        <div class="chat-header">Settings</div>

        <li class="chat-item">
          <span class="chat-item-avatar-wrapper has-message">

          </span>
          <span class="chat-item-name">Switch theme</span>
        </li>
        <li class="chat-item">
          <span class="chat-item-avatar-wrapper">

          </span>
          <a href="{% url 'logout' %}">
          <span class="chat-item-name">Logout</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="container"><div style="margin:30px auto"><div id="carbon-block"></div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- CSSScript Demo Page -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2783044520727903"
     data-ad-slot="3025259193"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div><h1>Smooth Collapsible Sidebar Navigation Example</h1><p class="lead">A modern sidebar navigation with smooth expand & collapse transitions, written in CSS/CSS3 and vanilla JavaScript.</p></div>
    <script type="text/javascript">
      {
        let sideBar = document.querySelector('.side-bar');
        let arrowCollapse = document.querySelector('#logo-name__icon');
        sideBar.onclick = () => {
          sideBar.classList.toggle('collapse');
          arrowCollapse.classList.toggle('collapse');
          if (arrowCollapse.classList.contains('collapse')) {
            arrowCollapse.classList =
              'bx bx-arrow-from-left logo-name__icon collapse';
          } else {
            arrowCollapse.classList = 'bx bx-arrow-from-right logo-name__icon';
          }
        };
      }
    </script>
  </body>
  <script>
try {
  fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function(response) {
    return true;
  }).catch(function(e) {
    var carbonScript = document.createElement("script");
    carbonScript.src = "{% static 'js/sidenav.js' %}";
    carbonScript.id = "_carbonads_js";
    document.getElementById("carbon-block").appendChild(carbonScript);
  });
} catch (error) {
  console.log(error);
}
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');


</script>

</html>
