{% extends 'base.html' %}
{% load static %}

{% block title %}Vehicle is use{% endblock %}

{% block content %}
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver2 m-b-110">
                <table data-vertable="ver2">
                    <thead>
                    <tr class="row100 head">
                        <th class="column100 column1" data-column="column1">Vehicle</th>
                        <th class="column100 column2" data-column="column2">Driver</th>
                        <th class="column100 column3" data-column="column3">Date start</th>
                        <th class="column100 column4" data-column="column4">Date end</th>
                        <th class="column100 column5" data-column="column5">Issued by</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for period in periods %}
                    <tr class="row100">
                        <td class="column100 column1" data-column="column1">{{ period.vehicle.plate }}</td>
                        <td class="column100 column2" data-column="column2">{{ period.driver }}</td>
                        <td class="column100 column3" data-column="column3">{{ period.start_date|date:"d/m/Y" }}</td>
                        <td class="column100 column4" data-column="column4">{{ period.end_date|date:"d/m/Y" }}</td>
                        <td class="column100 column5" data-column="column5">{{period.added_by}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>
<a href="{% url 'vehicle-create' %}">Add New Vehicle</a>
{% endblock %}