{% extends 'base.html' %}

{% block title %}Create New Vehicle{% endblock %}

{% block content %}
    <h1>Create New Period</h1>

    <form method="post">

        {% csrf_token %}

        {% for field in form %}
        <ul>
            <li>
                {{ field.label_tag }} {{ field }}
            </li>
        </ul>
                {% endfor %}

        <input class="btn" type="submit" value="Save">
        <a class="btn" href="{% url 'period-list' %}">Cancel</a>

    </form>



{% endblock %}